# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python
env/
venv/
.venv/
ENV/
build/
dist/
*.egg-info/

# Streamlit
.streamlit/
.streamlit/secrets.toml

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# Cache
*.cache/
.cache/
.mypy_cache/
.pytest_cache/
